/*
 * Custom Styles for SB Admin Pro Theme
 */

body {
    background-color: #f2f6fc;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
    width: 225px;
    height: 100vh;
    z-index: 1038;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
    padding-left: 225px;
    top: 56px;
}

.sb-topnav {
    padding-left: 0;
    height: 56px;
    z-index: 1039;
}

.sb-sidenav-dark {
    background-color: #212832;
    color: rgba(255, 255, 255, 0.5);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    color: rgba(255, 255, 255, 0.5);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
    color: #fff;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
    color: #fff;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
    color: #fff;
}

.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
    color: rgba(255, 255, 255, 0.25);
}

.sb-sidenav-dark .sb-sidenav-footer {
    background-color: rgba(0, 0, 0, 0.2);
}

#layoutSidenav {
    display: flex;
}

#layoutSidenav_nav {
    flex-basis: 225px;
    flex-shrink: 0;
    transition: transform 0.15s ease-in-out;
    z-index: 1038;
    transform: translateX(0);
}

#layoutSidenav_content {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    min-height: calc(100vh - 56px);
    margin-left: -225px;
}

.sb-nav-fixed .sb-topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1039;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
    position: fixed;
    top: 56px;
    left: 0;
    height: calc(100vh - 56px);
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
    padding-left: 225px;
    top: 56px;
    margin-left: 0;
}

/* For mobile/collapsed sidebar */
.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    transform: translateX(-225px);
}

.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
    margin-left: -225px;
}

@media (min-width: 992px) {
    .sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
        transform: translateX(0);
    }

    .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
        margin-left: 0;
        transform: translateX(0);
    }
}

.card-footer {
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
